<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <h1> Users Table </h1>
        <nav class="navbar navbar-expand-sm bg-light">
    
            <div class="container-fluid">
              <!-- Links -->
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users_new' %}">Create New User </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main_page'%}">Back to main page </a>
                </li>
              </ul>
            </div>
          
          </nav>
<style>
#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
      
#users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
}
      
#users tr:nth-child(even){background-color: #f2f2f2;}
      
#users tr:hover {background-color: #ddd;}
      
#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
display: flex
</style>
<body>
<table id = "users">
    <thead class="table-dark">
    <tr> 
        <th> User Email </th>
        <th> User Name </th>
        <th> User Surname </th>
        <th> Functions </th>
    </tr>
</thead>
    {% for users in object_list %}
    <tr>
        <td>
            {{users.email}}
        </td>
        <td>
            {{users.name}}
        </td>
        <td>
            {{users.surname}}
        </td>
        <td class='display-flex justify-content-betweeen'>
            <a href="{% url 'users_detail' users.pk %}">View Details |</a>
            <a href="{% url 'users_delete' users.pk %}">Delete |</a>
            <a href="{% url 'users_edit' users.pk %}">Edit |</a>
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>
